<h1> Edit Idea </h1>

<%= form_for @idea, url: user_idea_path(current_user, @idea), method: :put do |f| %>
  <%= f.label :title %><br />
  <%= f.text_field :title %><br />

  <%= f.label :body %><br />
  <%= f.text_field :body %><br />

  <%= f.submit "Submit" %>

<% end %>
