<h1> New Idea </h1>

<%= form_for @idea, url: user_ideas_path(current_user) do |f| %>
  <%= f.label :title %><br />
  <%= f.text_field :title %><br />

  <%= f.label :body %><br />
  <%= f.text_field :body %><br />

  <%= f.submit "Submit" %>
<% end %>
