<h2>This is the show page for <%= @user.username %></h2>

<% @user.ideas.each do |idea| %>
  <%= content_tag :h3, idea.title %> 
  <% if idea.category %>
    <%= content_tag :h4, idea.category.name %>
  <% end %>
  <%= link_to "Delete", user_idea_path(@user, idea), method: :delete %>
  <%= link_to "Edit", edit_user_idea_path(@user, idea) %>
<% end %>

<%= link_to "New Idea", new_user_idea_path(current_user) %>
