<!DOCTYPE html>
<html>
<head>
  <title>IdeaBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <p><%= link_to "Logout", logout_path, method: :delete %></p>
  <% else %>
    <p><%= link_to "Sign up", new_user_path %> <br />
       <%= link_to "Log In", new_session_path %>
    </p>
  <% end %>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
        

<%= yield %>

</body>
</html>
